<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="Dbconnection" connectionString="Server=DEEPAK\SQL2012; 
       Database=MySpace ; Integrated Security=True"/>
      <add name="MyConnectionString" connectionString="Data Source=DEEPAK\SQL2012;Initial Catalog=MySpace;User ID=sa;Password=sidharth"
            providerName="System.Data.SqlClient"/>
    </connectionStrings >
</configuration>