*.suo
*.lock
*.ide
Debug
Microsoft.Exchange.WebServices.2.2
/HackSpace/Hackspace.MicroAppOne/obj
/HackSpace/.vs/HackSpace
/.vs
/HackSpace/packages/Newtonsoft.Json.13.0.3
/HackSpace/Utilities/obj
/HackSpace/.vs/ProjectEvaluation
/HackSpace/Concepts/obj/Release
/HackSpace/DesignPatterns/obj/Release
/HackSpace/Email/obj/Release
/HackSpace/Puzzles/obj/Release
